<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<div class="image-gallery">
<div class="container">
  {% for image in site.static_files %}
    {% if image.path contains '/assets/photos/' %}
      {% if image.extname == '.jpg' or image.extname == '.jpeg' or image.extname == '.png' or image.extname == '.gif' %}
        <a href="{{ site.baseurl }}{{ image.path }}">
          <img src="{{ site.baseurl }}{{ image.path }}" alt="Gallery Image">
        </a>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
