---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  background-color: #FFFAF0; // Your custom background color
  /* Use 'background' instead of 'background-color' if the theme uses gradients or background images */
}

h2 {
  color: #800000; /* Replace with your desired color */
}

.site-title {
  color: #800000; /* Main color */
  &:visited {
    color: #800000; /* Color after being visited */
  }
}
.header-image {
  width: 100%; /* Make image span the full width of the header */
  height: auto; /* Maintain aspect ratio */
  /* Add other styles as needed, e.g., margin, padding */
  object-fit: cover; /* Ensures image covers the area without stretching, might crop parts */
}
.page {
    margin-left: 0;
    margin-right: 0;
}
.wrapper {
    max-width: 1200px; /* Adjust this value as needed */
}
.container {
  display: flex;
  gap: 40px; /* Adds 20px space between all child divs (both horizontally and vertically if they wrap) */
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */ 
  /* For vertical divs specifically, you might use: */
  /* flex-direction: column; */
  /* gap: 20px; */
}
